.loadingDiv {
    padding: 1rem;
    display: flex;
    align-items: center;
}

.loadingText {
    padding-left: 10px;
    flex-grow: 2;
    flex-direction: column;
}

form {
    width: 100%;
}

.Dashboard-Text {
    font-size: 2.1rem;
    font-weight: 400;
    line-height: 2.8rem;
    text-align: center;
}

@media (min-width: 40em) {
    .Dashboard-Text {
        font-size: 2.6rem;
        line-height: 3.2rem;
    }
}

.frappe-chart .chart {
    width: 100%;
}

.Polaris-EmptyState__ImageContainer {
    width: 50%;
    text-align: center;
}

.giftit-youtube-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}
