<head>
    <link href="https://giftit-app.herokuapp.com/giftit-css" rel="stylesheet" />
</head>
<body>
    <div class="giftit-loading">
        <div class="giftit-loader"></div>
        <h4 class="giftit-loading-text">Verifying Identity</h4>
    </div>
    <div class="giftit-fetch-error hide">
        <p>Oops something went wrong. Please refresh or try the link from your email again!</p>
    </div>
</body>
<script>
    (async function () {
        await new Promise(res => setTimeout(res, 1000));

        const data = {};

        const urlParams = new URLSearchParams(window.location.search);
        for (const pair of urlParams.entries()) {
            data[pair[0]] = pair[1];
        }

        data.shop = Shopify.shop

        const ret = await (await fetch('https://giftit-app.herokuapp.comconfirm-purchase', {
            method: 'POST',
            mode: 'cors',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
        })).json();
        document.querySelector('.giftit-loading-text').innerHTML = 'Confirming Items';
        await new Promise(res => setTimeout(res, 1000));

        console.log(ret)
        if (ret.url) {
            window.location.replace(ret.url)
        } else {
            document.querySelector('.giftit-loading').classList.add('hide')
            document.querySelector('.giftit-fetch-error').classList.remove('hide')
        }
    })();
</script>